BeautifulSoup4
defusedxml
fake-useragent
cherrypy
get-useragents
# for support brotli
https://github.com/google/brotli/archive/refs/heads/master.zip
https://github.com/mansuf/zippyshare-downloader/archive/refs/heads/main.zip
PyBypass
requests
w3lib
