BeautifulSoup4
cherrypy
cloudscraper
defusedxml
fake-useragent
get-useragents
# for support brotli
https://github.com/google/brotli/archive/refs/heads/master.zip
https://github.com/mansuf/zippyshare-downloader/archive/refs/heads/main.zip
httpx[http2]
jinja2
PyBypass
requests
w3lib
